@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 24px;
}

.alphabet-font {
  font-size: 13em;
  font-family: "Noto";
  text-shadow: -3px 5px 10px rgba(0, 0, 0, 0.5);
}

.tshadow {
  text-shadow: -2px 3px 5px rgba(0, 0, 0, 0.5);
}

.intro-1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.z-1000 {
  z-index: 1000;
}

// .test-btn {
//   transform: translateY(-50%);
// }

.container {
  padding: 0 4rem;
  margin: 0 auto;
}

// .nav-btn-container {
//   @apply p-3 lg:p-4 bg-blue-800 rounded-full text-white;
//   .nav-btn {
//     @apply text-white text-[30px] lg:text-[40px];
//   }
// }

.exercise-heading {
  font-weight: 900;
  font-size: 60px;
  line-height: 70px;
}

.sm-h1 {
  font-weight: 900;
  font-size: 40px;
  line-height: 50px;
}

// ANIMATION
.pulse-blue {
  box-shadow: 0 0 0 0 rgba(30, 64, 145, 1);
  animation: pulse-blue 2s infinite ease;
}
@keyframes pulse-blue {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(30, 64, 145, 0.7);
  }

  90% {
    transform: scale(1);
    box-shadow: 0 0 0 15px rgba(30, 64, 145, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(30, 64, 145, 0);
  }
}
.shake {
  animation: shake 0.8s infinite;
}
@keyframes shake {
  0% {
    transform: skewX(-15deg);
  }
  5% {
    transform: skewX(15deg);
  }
  10% {
    transform: skewX(-15deg);
  }
  15% {
    transform: skewX(15deg);
  }
  20% {
    transform: skewX(0deg);
  }
  100% {
    transform: skewX(0deg);
  }
}

// RESPONSIVENESS
@media screen and (max-width: 1024px) {
  .container {
    padding: 0 3rem;
  }
  .exercise-heading {
    font-size: 50px;
    line-height: 60px;
  }
  .sm-h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .alphabet-font {
    font-size: 10em;
  }
  .tshadow {
    text-shadow: -1px 2px 3px rgba(0, 0, 0, 0.5);
  }
}
@media screen and (max-width: 750px) {
  .container {
    padding: 0 2.5rem;
  }
  .exercise-heading {
    font-size: 40px;
    line-height: 50px;
  }
  .sm-h1 {
    font-size: 25px;
    line-height: 35px;
  }
  .alphabet-font {
    font-size: 8em;
  }
  .tshadow {
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
  }
}

@media screen and (max-width: 550px) {
  .container {
    padding: 0 1.2rem;
  }
  .alphabet-font {
    font-size: 4.5em;
    line-height: 5em;
  }
}
