@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 24px;
}

// .test-btn {
//   transform: translateY(-50%);
// }

.container {
  padding: 0 4rem;
  margin: 0 auto;
}

// .nav-btn-container {
//   @apply p-3 lg:p-4 bg-blue-800 rounded-full text-white;
//   .nav-btn {
//     @apply text-white text-[30px] lg:text-[40px];
//   }
// }

.exercise-heading {
  font-weight: 900;
  font-size: 60px;
  line-height: 70px;
}

.sm-h1 {
  font-weight: 900;
  font-size: 40px;
  line-height: 50px;
}

// ANIMATION
.pulse-blue {
  box-shadow: 0 0 0 0 rgba(30, 64, 145, 1);
  animation: pulse-blue 2s infinite ease;
}
@keyframes pulse-blue {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(30, 64, 145, 0.7);
  }

  90% {
    transform: scale(1);
    box-shadow: 0 0 0 15px rgba(30, 64, 145, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(30, 64, 145, 0);
  }
}
.shake {
  animation: shake 0.8s infinite;
}
@keyframes shake {
  0% {
    transform: skewX(-15deg);
  }
  5% {
    transform: skewX(15deg);
  }
  10% {
    transform: skewX(-15deg);
  }
  15% {
    transform: skewX(15deg);
  }
  20% {
    transform: skewX(0deg);
  }
  100% {
    transform: skewX(0deg);
  }
}
// @keyframes shake {
//   0% {
//     transform: skewX(-15deg);
//   }
//   5% {
//     transform: skewX(15deg);
//   }
//   10% {
//     transform: skewX(-15deg);
//   }
//   15% {
//     transform: skewX(15deg);
//   }
//   20% {
//     transform: skewX(0deg);
//   }
//   100% {
//     transform: skewX(0deg);
//   }
// }
// @keyframes shake {
//   0% {
//     transform: rotate(0deg);
//   }
//   25% {
//     transform: rotate(5deg);
//   }
//   50% {
//     transform: rotate(0eg);
//   }
//   75% {
//     transform: rotate(-5deg);
//   }
//   100% {
//     transform: rotate(0deg);
//   }
// }

// RESPONSIVENESS
@media screen and (max-width: 1024px) {
  .container {
    padding: 0 3rem;
  }
  .exercise-heading {
    font-size: 50px;
    line-height: 60px;
  }
  .sm-h1 {
    font-size: 30px;
    line-height: 40px;
  }
}
@media screen and (max-width: 750px) {
  .container {
    padding: 0 2.5rem;
  }
  .exercise-heading {
    font-size: 40px;
    line-height: 50px;
  }
  .sm-h1 {
    font-size: 25px;
    line-height: 35px;
  }
}

@media screen and (max-width: 550px) {
  .container {
    padding: 0 1.2rem;
  }
}
